.body {
    background-color: #e6e6ff;
}

.slackey {
    font-family: 'Slackey', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.tocenter {
    margin: 0 auto;
}

.bold {
	font-weight: bold;
}

.orange {
  color: #ec971f;
}

.black {
  color: #000000;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

	.textHuge {
		font-size: 90px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 60px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 40px;
		line-height: normal;
	}
	.textLarge {
		font-size: 36px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 26px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 18px;
		line-height: normal;
	}
	.textMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textRegular {
		font-size: 14px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}
	
	.holder 
    {   
      width: auto;
      display: inline-block;    
    }

    .holder img 
    {
      width: 150px; /* Will shrink image to 150 pixels width */
      height: auto;    
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.textHuge {
		font-size: 77px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 42px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 28px;
		line-height: normal;
	}
	.textLarge {
		font-size: 26px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 18px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}
	
	.holder 
    {   
      width: auto;
      display: inline-block;    
    }

    .holder img 
    {
      width: 150px; /* Will shrink image to 150 pixels width */
      height: auto;    
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.textHuge {
		font-size: 54px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 30px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 22px;
		line-height: normal;
	}
	.textLarge {
		font-size: 18px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textMedium {
		font-size: 12px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}
	
	.holder 
    {   
      width: auto;
      display: inline-block;    
    }

    .holder img 
    {
      width: 200px; /* Will shrink image to 200 pixels width */
      height: auto;    
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.textHuge {
		font-size: 38px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 24px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 22px;
		line-height: normal;
	}
	.textLarge {
		font-size: 18px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textMedium {
		font-size: 12px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}
	.img-responsive {
		max-width: 50%;
		min-width: 300px;
	}
	
	.holder 
    {   
      width: auto;
      display: inline-block;    
    }

    .holder img 
    {
      width: 200px; /* Will shrink image to 200 pixels width */
      height: auto;    
    }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

	.textHuge {
		font-size: 32px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 22px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 20px;
		line-height: normal;
	}
	.textLarge {
		font-size: 16px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 13px;
		line-height: normal;
	}
	.textMedium {
		font-size: 11px;
		line-height: normal;
	}
	.textRegular {
		font-size: 10px;
		line-height: normal;
	}
	.textSmall {
		font-size: 9px;
		line-height: normal;
	}
	.textMini {
		font-size: 8px;
		line-height: normal;
	}
	
	.holder 
    {   
      width: auto;
      display: inline-block;    
    }

    .holder img 
    {
      width: 200px; /* Will shrink image to 200 pixels width */
      height: auto;    
    }

}

/* font style */

	.font-oblique {
		font-style: oblique;
	}

	.font-italic {
		font-style: italic;		
	}

	.font-normal{
		font-style: normal; 
	}

/* font decoration */

	.text-line-through {
		text-decoration: line-through;
	}

	.text-overline {
		text-decoration: overline;
	}

	.text-underline {
		text-decoration: underline;
	}

	.text-underline {		
		text-decoration: underline;	
	}
	
	.center {
		text-align: center;
	}
	
	.right {
		text-align: right;
	}

	.thumbnail{
		text-align: center;
	}
 	
 	.heartbutton
 	{
 		text-align: right;
 	}

  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
 
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

/* Control elements CSS */
.switch 
{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before 
{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider 
{
  background-color: #337ab7;
}

input:focus + .slider 
{
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before 
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round 
{
  border-radius: 34px;
}

.slider.round:before 
{
  border-radius: 50%;
}

/* Checkboxes */
.searchable-container
{
	margin: 20px 0 0 0
}

.searchable-container label.btn-default.active
{
	background-color: #337ab7;
	color: #FFF
}

.searchable-container label.btn-default
{
	width: 90%;
	border: 1px solid #efefef;
	margin: 5px; 
	box-shadow: 5px 8px 8px 0 #ccc;
}

.searchable-container label .bizcontent
{
	width: 100%;
}

.searchable-container .btn-group
{
	width: 90%
}

.searchable-container .btn span.glyphicon
{
    opacity: 0;
}

.searchable-container .btn.active span.glyphicon 
{
    opacity: 1;
}

.button-left
{ 
	text-align:left; 
}

.button-center
{ 
	text-align:center; 
}

/* Bootstrap checkbox css */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* Description here */
.bg-2 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
}
.bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
}
 .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
}