/* git add .  */
/* git commit -am " COMMENT ON CHANGES THAT WERE MADE "  */
/* git push */
/* git push heroku master */

body {
    background-color: #fff;
}

.slackey {
    font-family: 'Slackey', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.tocenter {
    margin: 0 auto;
}

.orange {
  color: #ec971f;
}

.black {
  color: #000000;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {

	.textHuge {
		font-size: 90px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 60px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 40px;
		line-height: normal;
	}
	.textLarge {
		font-size: 36px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 26px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 18px;
		line-height: normal;
	}
	.textMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textRegular {
		font-size: 14px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.textHuge {
		font-size: 77px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 42px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 28px;
		line-height: normal;
	}
	.textLarge {
		font-size: 26px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 18px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.textHuge {
		font-size: 54px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 30px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 22px;
		line-height: normal;
	}
	.textLarge {
		font-size: 18px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textMedium {
		font-size: 12px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.textHuge {
		font-size: 38px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 24px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 22px;
		line-height: normal;
	}
	.textLarge {
		font-size: 18px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 16px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textMedium {
		font-size: 12px;
		line-height: normal;
	}
	.textRegular {
		font-size: 12px;
		line-height: normal;
	}
	.textSmall {
		font-size: 11px;
		line-height: normal;
	}
	.textMini {
		font-size: 9px;
		line-height: normal;
	}
	.img-responsive {
		max-width: 50%;
		min-width: 300px;

	}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

	.textHuge {
		font-size: 32px;
		line-height: normal;
	}
	.textxxLarge {
		font-size: 22px;
		line-height: normal;
	}
	.textxLarge {
		font-size: 20px;
		line-height: normal;
	}
	.textLarge {
		font-size: 16px;
		line-height: normal;
	}
	.textxxMedium {
		font-size: 14px;
		line-height: normal;
	}
	.textxMedium {
		font-size: 13px;
		line-height: normal;
	}
	.textMedium {
		font-size: 11px;
		line-height: normal;
	}
	.textRegular {
		font-size: 10px;
		line-height: normal;
	}
	.textSmall {
		font-size: 9px;
		line-height: normal;
	}
	.textMini {
		font-size: 8px;
		line-height: normal;
	}

}

/* font style */

	.font-oblique {
		font-style: oblique;
	}

	.font-italic {
		font-style: italic;		
	}

	.font-normal{
		font-style: normal; 
	}

/* font decoration */

	.text-line-through {
		text-decoration: line-through;
	}

	.text-overline {
		text-decoration: overline;
	}

	.text-underline {
		text-decoration: underline;
	}

	.text-underline {		
		text-decoration: underline;	
	}
	
	.center {
		text-align: center;
	}

	.thumbnail{
		text-align: center;
	}
 	
 	.heartbutton
 	{
 		text-align: right;
 	}

/* Slider CSS */
#slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}