/* git add .  */
/* git commit -am " COMMENT ON CHANGES THAT WERE MADE "  */
/* git push */
/* git push heroku master */

body {
    background-color: #999966;
}

/* Colour for h1 headings: #ec971f */
.h1_slackey {
    font-family: 'Slackey', sans-serif;
    color: #ec971f;
    font-size: 400%;
    text-align: center;
}

.h2_opensans {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 200%;
}

.h3_opensans {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 150%;
}

/*  Colour for p: #000000 */
.p_opensans {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

