/* git add .  */
/* git commit -am " COMMENT ON CHANGES THAT WERE MADE "  */
/* git push */
/* git push heroku master */

body {
    background-color: #999966;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    .h1_slackey {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    .h1_slackey {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    .h1_slackey {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    .h1_slackey {
        font-size: 1.3em;
    }
}

/* Colour for h1 headings: #ec971f */
.h1_slackey {
    font-family: 'Slackey', sans-serif;
    color: #ec971f;
    text-align: center;
}

.h2_opensans {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 200%;
}

.h3_opensans {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 150%;
}

/*  Colour for p: #000000 */
.p_opensans {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

